*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button{
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-j-space-between {
    display: flex;
    justify-content: space-between;
}

header section{
    background-color: #B4D0E7;
    position: relative;
}

.blue-button {
    background-color: #0061FF;
    border: 0;
    color: white;
    font-size: 1.05rem;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2.5rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3.9rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.card {
    width: 18.6rem;
    margin-bottom: 3.6rem;
}

.card h3 {
    margin-bottom: 1.8rem;
}

.card img {
    width: 18.5rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-container-box {
    margin: 0 28.6rem 8.8rem 28.6rem;
}

.choise-implementation-plans-container {
    margin-bottom: 3rem;
}

.choise-implementation-plans-container input[type="radio"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.choise-implementation-plans-container input {
    margin-left: 0.4rem;
}

.choise-implementation-plans-container label {
    margin-right: 1.8rem;
    vertical-align: 1px;
}

.column {
    border: 1px solid #DDDDDF;
    height: 59.6rem;
    margin-bottom: 3rem;
    width: 19rem;
}

.small-main-container {
    margin: 0 28.6rem 9.2rem 28.6rem;
    padding-right: 15rem;
}

.icon-spaces {
    margin-right: 5px;
    padding-top: 2px;
}

.implementation-plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.implementation-plans-other-info i {
    color: #0061FF;
}

.implementation-plans-other-info p {
    font-weight: bold;
    margin-bottom: 1.9rem;
}

.implementation-plans-time {
    margin-bottom: 3rem;
}

.implementation-plans-specifications {
    margin: 0 1.8rem;
}

.implementation-plans-specifications hr {
    margin: 2.5rem 12rem 2.9rem 0;
}

.implementation-plans-specifications button{
    font-size: 0.9rem;
    margin: 0 0 1.7rem 0.2rem;
    padding: 0.7rem 0;
    width: 100%;
}

.implementation-plans-sub-specifications {
    margin-bottom: 3.2rem;
}

.implementation-plans-user-type {
    border-bottom: 1px solid #DDDDDF;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    text-align: center;
}

.line-height-type-one {
    line-height: 1.23rem;
}

.logo{
    margin: 1.8rem 1.3rem;
}

.main-content-margin {
    margin: 2.5rem 28.6rem 9rem 28.6rem;
}

nav button {
    margin-left: 1rem;
    padding: 0.4rem 1rem;
}

nav li{
    list-style-type: none;
    margin: 0 1.2rem;
}

nav li a{
    color: black;
    text-decoration: none;
    font-size: 1.05rem;
}

.nav-links-container{
    flex-basis: 100%;
}

nav ul{
    display: flex;
    align-items: center;
}

.partner-container {
    display: flex;
    margin: 0 28.6rem 9.4rem 28.6rem;
}

.partner-container button {
    background-color: white;
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.7rem 0.7rem;
}

.partner-container h3 {
    margin-top: 3.7rem;
}

.partner-container img {
    margin-right: 3rem;
    width: 38rem;
}

.partner-container p {
    margin: 0 2rem 2.2rem 0;
}

.price {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.row {
    border: 1px solid #DDDDDF;
    height: 16rem;
    width: 100%;
}

.row button {
    margin-left: 5rem;
    width: 15rem;
}

.row .implementation-plans-specifications {
    display: flex;
    justify-content: space-between;
}

.row .price {
    margin-bottom: 3rem;
}

.text-format-margin-b{
    display: flex;
    margin-bottom: 1rem;
}

.jumbotron {
    margin: 0 22.5rem;
    padding: 4.5rem 0 2rem 0;
}

.jumbotron button {
    margin: 2rem 0;
    padding: 0.7rem 1rem;
}

.jumbotron i {
    font-size: 3.2rem;
    margin-top: 4.2rem;
}

.jumbotron img{
    position: relative;
    z-index: 1;
    width: 52.5rem;
}

.jumbotron-paragraph{
    margin-bottom: 0.2rem;
}

.white-line {
    background-color: white;
    bottom: 0%;
    height: 10vh;
    position: absolute;
    transform: translateY(1px);
    width: 100vw;
}