*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button{
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
}

.flex-j-space-between {
    display: flex;
    justify-content: space-between;
}

header section{
    background-color: #B4D0E7;
    position: relative;
}

.blue-button {
    background-color: #0061FF;
    border: 0;
    color: white;
    font-size: 1.05rem;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2.5rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3.9rem;
}

.choise-implementation-plans-container {
        margin: 2.5rem 28.6rem;
}

.choise-implementation-plans-container input[type="radio"] {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.choise-implementation-plans-container input {
    margin-left: 0.4rem;
}

.choise-implementation-plans-container label {
    margin-right: 1.8rem;
}

.logo{
    margin: 1.8rem 1.3rem;
}

nav button {
    margin-left: 1rem;
    padding: 0.4rem 1rem;
}

nav li{
    list-style-type: none;
    margin: 0 1.2rem;
}

nav li a{
    color: black;
    text-decoration: none;
    font-size: 1.05rem;
}

.nav-links-container{
    flex-basis: 100%;
}

nav ul{
    display: flex;
    align-items: center;
}

.jumbotron {
    margin: 0 22.5rem;
    padding: 4.5rem 0 2rem 0;
}

.jumbotron button {
    margin: 2rem 0;
    padding: 0.7rem 1rem;
}

.jumbotron i {
    font-size: 3.2rem;
    margin-top: 4.2rem;
}

.jumbotron img{
    position: relative;
    z-index: 1;
    width: 52.5rem;
}

.jumbotron-paragraph{
    margin-bottom: 0.2rem;
}

.white-line {
    background-color: white;
    bottom: 0%;
    height: 10vh;
    position: absolute;
    transform: translateY(1px);
    width: 100vw;
}